<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Express</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
  <script>
    window.onload = function() {
      $(".station").click(function() {
        //thisを指定しないと，配列に入っている路線名すべてが出力された．
        //thisを入れることによって配列の中のクリックしたものを一意に表示できる
        var line = $(".line",this).text();
        var name = $(".name",this).text();
        //駅をクリックしないと何も起こらない...
        $.ajax( "/api/station", {
          type: "GET",
          data: {"line": line, "name": name},
          datatype: 'json'
        })
        .done(function(json) {
          $("#detail .next").text(json["next"])
        });
      });
    }
</script>
  <div class="allStation">
    <h1>最寄駅</h1>
    <table>
      <% @stations.each do |station| %>
          <tr class="station">
            <td class="line"><%= station["line"] %></td>
            <td class="name"><%= station["name"] %></td>
          </tr>
      <% end %>
    </table>
      <!-- each do では，この最後のendのときに出力しているのではないか？-->
    
  </div>
  <div id="detail">
    <h1>次の駅</h1>
    <div class="line"></div>&nbsp;<div class="next"></div>&nbsp;
  </div>
  
</body>
</html>
